body, html, root{
  all: unset;
}

body{
  height: 100vh;
}

@keyframes from-left-to-right{
  0%{
    translate: -100%;
  }
  100%{
    translate: 100%;
  }
}

.skeleton-animation{
  animation: from-left-to-right 2s infinite;
}
